## Setup

In [32]:
import ee
ee.Authenticate()
ee.Initialize()

Enter verification code:  4/1AX4XfWhwYMIh5oFN2Un3bo0TTpi869baIfgGoOBVAKm3DKkGhEepFvdZMRc

Successfully saved authorization token.

In [51]:
import numpy as np
import geetools
from geetools import ui, cloud_mask
import os, datetime
import config as cf
import pandas as pd
import eeconvert
import time

cloud_mask_landsatSR = cloud_mask.landsatSR()
cloud_mask_sentinel2 = cloud_mask.sentinel2()

In [52]:
SURVEY_NAME = 'DHS'

## Functions

In [59]:
def survey_to_fc_buffer(survey_df, buffer_size_urban, buffer_size_rural):
    '''
    Convert pandas dataframe of survey locations to a feature collection. 
    
    Inputs:
        survey_df: pandas dataframe of survey locations. Function assumes 
                   the dataframe contains (1) latitude, (2) longitude and
                   (3) uid variables. Assumes coordinates in WGS84.
    Returns:
        (feature collection)
    '''
    
    survey_fc_list = []
    
    n_rows = survey_df.shape[0]
    for i in range(0, n_rows):
        survey_df_i = survey_df.iloc[[i]]
        
        ur = survey_df_i['urban_rural'].iloc[0]
        if ur == 'U':
            buffer_size = buffer_size_urban
        elif ur == 'R':
            buffer_size = buffer_size_rural

        f_i = ee.Feature(ee.Geometry.Point([survey_df_i['longitude'].iloc[0], 
                                            survey_df_i['latitude'].iloc[0]]), 
                         {'uid': survey_df_i['uid'].iloc[0]})
        
        f_i = f_i.buffer(buffer_size)

        survey_fc_list.append(f_i)
        
    survey_fc = ee.FeatureCollection(survey_fc_list)
    
    return survey_fc

def extract_sat(survey_df, buffer_size_urban, buffer_size_rural, satellite, year):
    '''
    Extract satellite imagery to locations 
    
    Inputs:
        survey_df: pandas dataframe of survey locations. Function assumes 
                   the dataframe contains (1) latitude, (2) longitude and
                   (3) uid variables. Assumes coordinates in WGS84.
    Returns:
        (feature collection)
    '''
    
    #print(survey_df.uid)
    
    # Prep l7 ---------------------------------------------------
    if satellite == 'worldpop':
        
        # Scale
        SCALE = 100 
        
        # Year
        year_use = year
        
        year_plus = year_use
        year_minus = year_use
        
        year_minus_str = str(year_minus) + '-01-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('WorldPop/GP/100m/pop')\
            .filterDate(year_minus_str, year_plus_str)\
            .median()
        
        # After the reducer computers the sum, it names the value "sum", not population
        BANDS = ['sum']
    
    # Prep l7 ---------------------------------------------------
    if satellite == 'l7':
        
        # Scale
        SCALE = 100 # ok to upscale
        
        # Year
        year_use = year
        
        year_plus = year_use + 1
        year_minus = year_use - 1
        
        year_minus_str = str(year_minus) + '-01-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('LANDSAT/LC07/C01/T1_SR')\
            .filterDate(year_minus_str, year_plus_str)\
            .map(cloud_mask_landsatSR)\
            .median()\
            .multiply(0.0001)

        ndvi = image.normalizedDifference(['B4', 'B3']).rename('NDVI');
        image = image.addBands(ndvi)
        
        BANDS = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7']
        
    # Prep l8 ---------------------------------------------------
    if satellite == 'l8':
        
        SCALE = 100 # ok to upscale
        #SCALE = 2000
        
        # Year
        # landsat 8 starts in April 2013; if year is less than
        # 2014, use 2014 as year (to ensure have year before and after)
        if year < 2014:
            year_use = 2014
        else:
            year_use = year
                    
        year_plus = year_use + 1
        year_minus = year_use - 1
        
        year_minus_str = str(year_minus) + '-01-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('LANDSAT/LC08/C01/T1_SR')\
            .filterDate(year_minus_str, year_plus_str)\
            .map(cloud_mask_landsatSR)\
            .median()\
            .multiply(0.0001)

        # https://www.linkedin.com/pulse/ndvi-ndbi-ndwi-calculation-using-landsat-7-8-tek-bahadur-kshetri
        ndvi = image.normalizedDifference(['B5', 'B4']).rename('NDVI');
        ndbi = image.normalizedDifference(['B6', 'B5']).rename('NDBI');
        image = image.addBands(ndvi)
        image = image.addBands(ndbi)
        
        bu = image.select('NDBI').subtract(image.select('NDVI')).rename('BU')
        image = image.addBands(bu)
        
        BANDS = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B10', 'B11', 'NDVI', 'NDBI', 'BU']
        #BANDS = ['NDVI']
        
    # Prep s2 ---------------------------------------------------
    if satellite == 's2':
        
        SCALE = 100 # ok to upscale
        
        # Year
        # sentinel starts in March 2017; juse use 2018
        year_use = 2018
                    
        year_plus = year_use + 1
        year_minus = year_use - 1
        
        year_minus_str = str(year_minus) + '-12-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('COPERNICUS/S2_SR')\
            .filterDate(year_minus_str, year_plus_str)\
            .map(cloud_mask_sentinel2)\
            .median()\
            .multiply(0.0001)
        
        ndvi = image.normalizedDifference(['B8', 'B4']).rename('NDVI');
        image = image.addBands(ndvi)
        
        BANDS = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B8A', 'B9', 'B11', 'B12', 'AOT', 'NDVI']

        image = image.select(BANDS)    
    
    # Prep viirs ---------------------------------------------------
    if satellite == 'viirs':
        
        SCALE = 500 
        
        # Year
        # VIIRS starts in April 2012; if year is less than
        # 2013, use 2013 as year (to ensure have year before and after)
        if year < 2013:
            year_use = 2013
        else:
            year_use = year
                    
        year_plus = year_use + 1
        year_minus = year_use - 1
        
        year_minus_str = str(year_minus) + '-01-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('NOAA/VIIRS/DNB/MONTHLY_V1/VCMCFG')\
            .filterDate(year_minus_str, year_plus_str)\
            .median()
        
        BANDS = ['avg_rad']
        
    # Prep DMSP ---------------------------------------------------
    if satellite == 'dmsp':
        
        SCALE = 1000 
        
        # Year
        # DMSP-OLS starts in 2013; if year is more than
        # 2012, use 2012 as year (to ensure have year before and after)
        if year > 2012:
            year_use = 2012
        else:
            year_use = year
                    
        year_plus = year_use + 1
        year_minus = year_use - 1
        
        year_minus_str = str(year_minus) + '-01-01'
        year_plus_str = str(year_plus) + '-12-31'
        
        image = ee.ImageCollection('NOAA/DMSP-OLS/NIGHTTIME_LIGHTS')\
            .filterDate(year_minus_str, year_plus_str)\
            .median()
        
        BANDS = ['stable_lights', 'avg_lights_x_pct']
    
    # Prep Survey ---------------------------------------------------
    survey_fc = survey_to_fc_buffer(survey_df, buffer_size_urban, buffer_size_rural)
    
    # Extract Values ---------------------------------------------------
    if satellite == 'worldpop':
        vals = image.reduceRegions(collection = survey_fc,
                                   reducer = ee.Reducer.sum(),
                                   scale = SCALE,
                                   tileScale = 8)
    else:
        vals = image.reduceRegions(collection = survey_fc,
                                   reducer = ee.Reducer.mean(),
                                   scale = SCALE,
                                   tileScale = 8)

    # Survey dataset that only contains the uid variable
    survey_df = survey_df[['uid']]
    
    for band_i in BANDS:
        survey_df[satellite + '_' + band_i] = vals.aggregate_array(band_i).getInfo()
        
    return survey_df

def extract_satellite_in_chunks(survey_df, buffer_size_urban, buffer_size_rural, satellite, year):
    
    vals_df_list = []
    
    for chunk_i in list(np.unique(survey_df.chunk_id)):
        print(chunk_i)
        time.sleep(5)

        survey_df_i = survey_df[survey_df['chunk_id'] == chunk_i]
        print(survey_df_i.shape)
        vals_i_df = extract_sat(survey_df_i, buffer_size_urban, buffer_size_rural, satellite, year)

        vals_df_list.append(vals_i_df)

    vals_df = pd.concat(vals_df_list)
    
    return vals_df

def extract_satellite_by_year(survey_df, buffer_size_urban, buffer_size_rural, satellite):
    
    vals_df_list = []
    
    for year_i in list(np.unique(survey_df.year)):
        print(year_i)
        time.sleep(5)

        survey_df_i = survey_df[survey_df['year'] == year_i]
        vals_i_df = extract_satellite_in_chunks(survey_df_i, buffer_size_urban, buffer_size_rural, satellite, year_i)

        vals_df_list.append(vals_i_df)

    vals_df = pd.concat(vals_df_list)
    
    return vals_df

def chunk_ids(total_length, chunk_size):
    n_numbers = np.ceil(total_length / chunk_size)
    n_numbers = int(n_numbers)
    
    chunk_ids = list(range(0,n_numbers)) * chunk_size
    chunk_ids.sort()
    chunk_ids = chunk_ids[:total_length]
    
    return chunk_ids

## Load/Prep Survey Data

In [60]:
survey_df = pd.read_csv(os.path.join(cf.SECURE_DATA_DIRECTORY, 'Data', SURVEY_NAME, 'FinalData - PII', 'GPS_uid_crosswalk.csv'))
survey_df = survey_df[survey_df.uid != 'IA201400180012']

CHUNK_SIZE = 5000

survey_years = list(survey_df.year.unique())
survey_df['chunk_id'] = chunk_ids(survey_df.shape[0], CHUNK_SIZE)

In [61]:
survey_df.shape

(64243, 8)

In [62]:
buffer_size_urban = 5000
buffer_size_rural = 5000
satellite = 'worldpop'

survey_df_i = survey_df.head(20)

# Scale
SCALE = 100 

# Year
year_use = 2015

year_plus = year_use
year_minus = year_use

year_minus_str = str(year_minus) + '-01-01'
year_plus_str = str(year_plus) + '-12-31'

image = ee.ImageCollection('WorldPop/GP/100m/pop')\
    .filterDate(year_minus_str, year_plus_str)\
    .median()

BANDS = ['population']

#
survey_fc = survey_to_fc_buffer(survey_df_i, buffer_size_urban, buffer_size_rural)


# Extract Values ---------------------------------------------------
#print(survey_fc.size().getInfo())

vals = image.reduceRegions(collection = survey_fc,
                           reducer = ee.Reducer.sum(),
                           scale = SCALE,
                           tileScale = 8)

#survey_df = survey_df[['uid']]

a = vals.aggregate_array('sum').getInfo()
print(a)

if False:

    #print(BANDS)
    for band_i in BANDS:
        #print(band_i)
        #a = vals.aggregate_array(band_i).getInfo()
        #print(len(a))
        survey_df_i[satellite + '_' + band_i] = vals.aggregate_array(band_i).getInfo()

    #val_wp_df = extract_satellite_by_year(survey_df, 5000, 5000, 'worldpop')

[38561.74434095443, 37493.97474722286, 38356.480711472635, 38078.315770694426, 38536.12058631819, 38667.30424660225, 38652.238957787646, 38584.02125640185, 38607.56933883818, 38469.87010442678, 37184.82817824119, 38016.89279046624, 38618.28091576416, 38343.103530176646, 38565.02648712723, 38660.129273689, 38660.7536436153, 25128.638959650518, 17891.9395749552, 12480.59987985156]

In [16]:
# DEBUGGING SENTINEL!!!
if False:
    buffer_size_urban = 2000
    buffer_size_rural = 2000

    survey_df_i = survey_df[survey_df['chunk_id'] == 1]
    survey_df_i.shape
    SCALE = 100 # ok to upscale

    # Year
    # sentinel starts in March 2017; juse use 2018
    year_use = 2018

    year_plus = year_use + 1
    year_minus = year_use - 1

    year_minus_str = str(year_minus) + '-01-01'
    year_plus_str = str(year_plus) + '-12-31'

    image = ee.ImageCollection('COPERNICUS/S2_SR')\
        .filterDate(year_minus_str, year_plus_str)\
        .map(cloud_mask_sentinel2)\
        .median()\
        .multiply(0.0001)

    ndvi = image.normalizedDifference(['B8', 'B4']).rename('NDVI');
    image = image.addBands(ndvi)

    BANDS = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B8A', 'B9', 'B11', 'B12', 'AOT', 'NDVI']

    image = image.select(BANDS)  

    # Prep Survey ---------------------------------------------------
    survey_fc = survey_to_fc_buffer(survey_df_i, buffer_size_urban, buffer_size_rural)

    # Extract Values ---------------------------------------------------
    vals = image.reduceRegions(collection = survey_fc,
                               reducer = ee.Reducer.mean(),
                               scale = SCALE,
                               tileScale = 8)

    a = eeconvert.fcToDf(vals)
    #band_i = 'B1'
    #a = vals.aggregate_array(band_i)
    a = ee.Feature(vals.first()).select(['B1'])
    print(a.getInfo())

## Extract Sentinel

In [ ]:
val_s2_df = extract_satellite_by_year(survey_df, 2000, 2000, 's2')

val_s2_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_s2.csv'),
              index = False)

val_s2_df.head()

## Extract Landsat 8

In [301]:
#survey_df['chunk_id'] = range(0, survey_df.shape[0])

In [302]:
val_l8_df = extract_satellite_by_year(survey_df, 3000, 3000, 'l8')

val_l8_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_l8.csv'),
              index = False)

2012
29
(314, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:212: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2014
29
(611, 8)
2015
0
(328, 8)
1
(1000, 8)
2
(1000, 8)
3
(1000, 8)
4
(1000, 8)
5
(1000, 8)
6
(1000, 8)
7
(1000, 8)
8
(1000, 8)
9
(1000, 8)
10
(1000, 8)
11
(1000, 8)
12
(1000, 8)
13
(1000, 8)
14
(1000, 8)
15
(1000, 8)
16
(1000, 8)
17
(1000, 8)
18
(1000, 8)
19
(1000, 8)
20
(1000, 8)
21
(1000, 8)
22
(1000, 8)
23
(1000, 8)
24
(1000, 8)
25
(1000, 8)
26
(1000, 8)
27
(1000, 8)
28
(1000, 8)
29
(75, 8)
30
(430, 8)
2016
30
(383, 8)
32
(49, 8)
33
(406, 8)
2017
0
(672, 8)
30
(187, 8)
31
(1000, 8)
32
(951, 8)

## Extract Landsat 7

In [ ]:
val_l7_df = extract_satellite_by_year(survey_df, 2000, 5000, 'l7')

val_l7_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_l7.csv'),
              index = False)

val_l7_df.head()

## Extract VIIRS

In [14]:
val_viirs_df = extract_satellite_by_year(survey_df, 2000, 2000, 'viirs')

val_viirs_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_viirs_2km.csv'),
              index = False)

val_viirs_df.head()

2006
118
(270, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:234: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2008
6
(94, 8)
7
(500, 8)
8
(404, 8)
102
(439, 8)
103
(146, 8)
2009
32
(161, 8)
33
(151, 8)
2010
4
(175, 8)
5
(366, 8)
12
(281, 8)
13
(500, 8)
14
(500, 8)
15
(500, 8)
16
(500, 8)
17
(500, 8)
18
(500, 8)
19
(500, 8)
20
(500, 8)
21
(500, 8)
22
(87, 8)
2011
10
(52, 8)
11
(289, 8)
33
(349, 8)
34
(500, 8)
35
(279, 8)
106
(235, 8)
107
(374, 8)
2012
28
(332, 8)
99
(215, 8)
100
(341, 8)
2013
9
(44, 8)
10
(448, 8)
22
(413, 8)
23
(111, 8)
110
(244, 8)
111
(306, 8)
120
(330, 8)
2014
23
(389, 8)
24
(500, 8)
25
(500, 8)
26
(428, 8)
28
(118, 8)
29
(305, 8)
30
(14, 8)
31
(500, 8)
32
(339, 8)
95
(411, 8)
96
(500, 8)
97
(500, 8)
98
(500, 8)
99
(285, 8)
101
(338, 8)
102
(61, 8)
115
(38, 8)
116
(454, 8)
118
(5, 8)
119
(500, 8)
120
(119, 8)
2015
1
(285, 8)
2
(500, 8)
3
(153, 8)
36
(271, 8)
37
(500, 8)
38
(500, 8)
39
(500, 8)
40
(500, 8)
41
(500, 8)
42
(500, 8)
43
(500, 8)
44
(500, 8)
45
(500, 8)
46
(500, 8)
47
(500, 8)
48
(500, 8)
49
(500, 8)
50
(500, 8)
51
(500, 8)
52
(500, 8)
53
(500, 8)
54
(500, 8)
55
(500, 8)
56
(500, 8)
57
(500, 8)
58
(500, 8)
59
(500, 8)
60
(500, 8)
61
(500, 8)
62
(500, 8)
63
(500, 8)
64
(500, 8)
65
(500, 8)
66
(500, 8)
67
(500, 8)
68
(500, 8)
69
(500, 8)
70
(500, 8)
71
(500, 8)
72
(500, 8)
73
(500, 8)
74
(500, 8)
75
(500, 8)
76
(500, 8)
77
(500, 8)
78
(500, 8)
79
(500, 8)
80
(500, 8)
81
(500, 8)
82
(500, 8)
83
(500, 8)
84
(500, 8)
85
(500, 8)
86
(500, 8)
87
(500, 8)
88
(500, 8)
89
(500, 8)
90
(500, 8)
91
(500, 8)
92
(500, 8)
93
(119, 8)
103
(26, 8)
104
(500, 8)
105
(500, 8)
106
(265, 8)
122
(231, 8)
123
(377, 8)
127
(157, 8)
128
(243, 8)
2016
8
(96, 8)
9
(456, 8)
26
(72, 8)
27
(500, 8)
28
(50, 8)
35
(221, 8)
36
(229, 8)
111
(194, 8)
112
(189, 8)
121
(186, 8)
122
(269, 8)
123
(123, 8)
124
(500, 8)
125
(500, 8)
126
(308, 8)
2017
0
(500, 8)
1
(215, 8)
3
(347, 8)
4
(325, 8)
5
(134, 8)
6
(406, 8)
93
(381, 8)
94
(500, 8)
95
(89, 8)
112
(311, 8)
113
(500, 8)
114
(500, 8)
115
(462, 8)
120
(51, 8)
121
(314, 8)
2018
11
(211, 8)
12
(219, 8)
30
(401, 8)
103
(328, 8)
107
(126, 8)
108
(500, 8)
109
(500, 8)
110
(256, 8)
126
(192, 8)
127
(343, 8)
2019
29
(195, 8)
30
(85, 8)
100
(159, 8)
101
(162, 8)
116
(46, 8)
117
(500, 8)
118
(225, 8)

                  uid  viirs_avg_rad
59226  SZ200600000246       1.079012
59227  SZ200600000088       0.121461
59228  SZ200600000190       0.265568
59229  SZ200600000003       3.605093
59230  SZ200600000004       2.345308

In [16]:
val_viirs_df = extract_satellite_by_year(survey_df, 2500, 2500, 'viirs')

val_viirs_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_viirs_2_5km.csv'),
              index = False)

val_viirs_df.head()

2006
118
(270, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:234: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2008
6
(94, 8)
7
(500, 8)
8
(404, 8)
102
(439, 8)
103
(146, 8)
2009
32
(161, 8)
33
(151, 8)
2010
4
(175, 8)
5
(366, 8)
12
(281, 8)
13
(500, 8)
14
(500, 8)
15
(500, 8)
16
(500, 8)
17
(500, 8)
18
(500, 8)
19
(500, 8)
20
(500, 8)
21
(500, 8)
22
(87, 8)
2011
10
(52, 8)
11
(289, 8)
33
(349, 8)
34
(500, 8)
35
(279, 8)
106
(235, 8)
107
(374, 8)
2012
28
(332, 8)
99
(215, 8)
100
(341, 8)
2013
9
(44, 8)
10
(448, 8)
22
(413, 8)
23
(111, 8)
110
(244, 8)
111
(306, 8)
120
(330, 8)
2014
23
(389, 8)
24
(500, 8)
25
(500, 8)
26
(428, 8)
28
(118, 8)
29
(305, 8)
30
(14, 8)
31
(500, 8)
32
(339, 8)
95
(411, 8)
96
(500, 8)
97
(500, 8)
98
(500, 8)
99
(285, 8)
101
(338, 8)
102
(61, 8)
115
(38, 8)
116
(454, 8)
118
(5, 8)
119
(500, 8)
120
(119, 8)
2015
1
(285, 8)
2
(500, 8)
3
(153, 8)
36
(271, 8)
37
(500, 8)
38
(500, 8)
39
(500, 8)
40
(500, 8)
41
(500, 8)
42
(500, 8)
43
(500, 8)
44
(500, 8)
45
(500, 8)
46
(500, 8)
47
(500, 8)
48
(500, 8)
49
(500, 8)
50
(500, 8)
51
(500, 8)
52
(500, 8)
53
(500, 8)
54
(500, 8)
55
(500, 8)
56
(500, 8)
57
(500, 8)
58
(500, 8)
59
(500, 8)
60
(500, 8)
61
(500, 8)
62
(500, 8)
63
(500, 8)
64
(500, 8)
65
(500, 8)
66
(500, 8)
67
(500, 8)
68
(500, 8)
69
(500, 8)
70
(500, 8)
71
(500, 8)
72
(500, 8)
73
(500, 8)
74
(500, 8)
75
(500, 8)
76
(500, 8)
77
(500, 8)
78
(500, 8)
79
(500, 8)
80
(500, 8)
81
(500, 8)
82
(500, 8)
83
(500, 8)
84
(500, 8)
85
(500, 8)
86
(500, 8)
87
(500, 8)
88
(500, 8)
89
(500, 8)
90
(500, 8)
91
(500, 8)
92
(500, 8)
93
(119, 8)
103
(26, 8)
104
(500, 8)
105
(500, 8)
106
(265, 8)
122
(231, 8)
123
(377, 8)
127
(157, 8)
128
(243, 8)
2016
8
(96, 8)
9
(456, 8)
26
(72, 8)
27
(500, 8)
28
(50, 8)
35
(221, 8)
36
(229, 8)
111
(194, 8)
112
(189, 8)
121
(186, 8)
122
(269, 8)
123
(123, 8)
124
(500, 8)
125
(500, 8)
126
(308, 8)
2017
0
(500, 8)
1
(215, 8)
3
(347, 8)
4
(325, 8)
5
(134, 8)
6
(406, 8)
93
(381, 8)
94
(500, 8)
95
(89, 8)
112
(311, 8)
113
(500, 8)
114
(500, 8)
115
(462, 8)
120
(51, 8)
121
(314, 8)
2018
11
(211, 8)
12
(219, 8)
30
(401, 8)
103
(328, 8)
107
(126, 8)
108
(500, 8)
109
(500, 8)
110
(256, 8)
126
(192, 8)
127
(343, 8)
2019
29
(195, 8)
30
(85, 8)
100
(159, 8)
101
(162, 8)
116
(46, 8)
117
(500, 8)
118
(225, 8)

                  uid  viirs_avg_rad
59226  SZ200600000246       1.519595
59227  SZ200600000088       0.134142
59228  SZ200600000190       0.273733
59229  SZ200600000003       3.965875
59230  SZ200600000004       2.193325

In [63]:
val_viirs_df = extract_satellite_by_year(survey_df, 5000, 5000, 'viirs')

val_viirs_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_viirs_5km.csv'),
              index = False)

val_viirs_df.head()

2006
11
(270, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:234: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2008
0
(998, 8)
10
(585, 8)
2009
3
(312, 8)
2010
0
(541, 8)
1
(3781, 8)
2
(1087, 8)
2011
1
(341, 8)
3
(1128, 8)
10
(609, 8)
2012
2
(332, 8)
9
(215, 8)
10
(341, 8)
2013
0
(44, 8)
1
(448, 8)
2
(524, 8)
11
(550, 8)
12
(330, 8)
2014
2
(2240, 8)
3
(853, 8)
9
(2196, 8)
10
(399, 8)
11
(997, 8)
12
(119, 8)
2015
0
(938, 8)
3
(1771, 8)
4
(5000, 8)
5
(5000, 8)
6
(5000, 8)
7
(5000, 8)
8
(5000, 8)
9
(1619, 8)
10
(1291, 8)
12
(1008, 8)
2016
0
(552, 8)
2
(622, 8)
3
(450, 8)
11
(383, 8)
12
(1886, 8)
2017
0
(1927, 8)
9
(970, 8)
11
(1773, 8)
12
(365, 8)
2018
1
(430, 8)
3
(401, 8)
10
(1454, 8)
11
(256, 8)
12
(535, 8)
2019
2
(195, 8)
3
(85, 8)
10
(321, 8)
11
(771, 8)

                  uid  viirs_avg_rad
59226  SZ200600000246       2.468443
59227  SZ200600000088       0.175569
59228  SZ200600000190       0.945488
59229  SZ200600000003       3.031036
59230  SZ200600000004       2.606591

In [ ]:
val_viirs_df = extract_satellite_by_year(survey_df, 10000, 10000, 'viirs')

val_viirs_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_viirs_10km.csv'),
              index = False)

val_viirs_df.head()

## Extract DMSP-OLS

In [ ]:
val_dmsp_df = extract_satellite_by_year(survey_df, 2000, 5000, 'dmsp')

val_dmsp_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_dmsp.csv'),
              index = False)

val_dmsp_df.head()

## Extract WorldPop - 5km

In [8]:
val_wp_df = extract_satellite_by_year(survey_df, 5000, 5000, 'worldpop')

val_wp_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_worldpop_5km.csv'),
              index = False)

val_wp_df.head()

2012
29
(314, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:234: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2014
29
(611, 8)
2015
0
(328, 8)
1
(1000, 8)
2
(1000, 8)
3
(1000, 8)
4
(1000, 8)
5
(1000, 8)
6
(1000, 8)
7
(1000, 8)
8
(1000, 8)
9
(1000, 8)
10
(1000, 8)
11
(1000, 8)
12
(1000, 8)
13
(1000, 8)
14
(1000, 8)
15
(1000, 8)
16
(1000, 8)
17
(1000, 8)
18
(1000, 8)
19
(1000, 8)
20
(1000, 8)
21
(1000, 8)
22
(1000, 8)
23
(1000, 8)
24
(1000, 8)
25
(1000, 8)
26
(1000, 8)
27
(1000, 8)
28
(1000, 8)
29
(75, 8)
30
(430, 8)
2016
30
(383, 8)
32
(49, 8)
33
(406, 8)
2017
0
(672, 8)
30
(187, 8)
31
(1000, 8)
32
(951, 8)

                  uid  worldpop_sum
29676  KY201200000105   3712.264753
29677  KY201200000106   8294.951383
29678  KY201200000107   2691.943851
29679  KY201200000108  15902.517072
29680  KY201200000109  16447.350292

## Extract WorldPop - 10km

In [7]:
val_wp_df = extract_satellite_by_year(survey_df, 10000, 10000, 'worldpop')

val_wp_df.to_csv(os.path.join(cf.DROPBOX_DIRECTORY, 
                            'Data', 
                            SURVEY_NAME, 
                            'FinalData', 
                            'Individual Datasets',
                           'survey_worldpop_10km.csv'),
              index = False)

val_wp_df.head()

2012
29
(314, 8)

/Users/robmarty/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:234: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2014
29
(611, 8)
2015
0
(328, 8)
1
(1000, 8)
2
(1000, 8)
3
(1000, 8)
4
(1000, 8)
5
(1000, 8)
6
(1000, 8)
7
(1000, 8)
8
(1000, 8)
9
(1000, 8)
10
(1000, 8)
11
(1000, 8)
12
(1000, 8)
13
(1000, 8)
14
(1000, 8)
15
(1000, 8)
16
(1000, 8)
17
(1000, 8)
18
(1000, 8)
19
(1000, 8)
20
(1000, 8)
21
(1000, 8)
22
(1000, 8)
23
(1000, 8)
24
(1000, 8)
25
(1000, 8)
26
(1000, 8)
27
(1000, 8)
28
(1000, 8)
29
(75, 8)
30
(430, 8)
2016
30
(383, 8)
32
(49, 8)
33
(406, 8)
2017
0
(672, 8)
30
(187, 8)
31
(1000, 8)
32
(951, 8)

                  uid  worldpop_sum
29676  KY201200000105  15985.919922
29677  KY201200000106  69026.916904
29678  KY201200000107  11360.145576
29679  KY201200000108  45420.083288
29680  KY201200000109  37266.666320

In [ ]:
#import folium
#from folium import plugins

#mapid = survey_i_fc.getMapId()

#map = folium.Map(location=[80.773137, 7.873592])
#folium.TileLayer(
#    tiles=mapid['tile_fetcher'].url_format,
#    attr='Map Data &copy; <a href="https://earthengine.google.com/">Google Earth Engine</a>',
#    overlay=True,
#    name='border',
#  ).add_to(map)

#map.add_child(folium.LayerControl())